body {
    background: #E9ECF5;
    color: black;
    font-family: 'Belgrano', Arial, sans-serif;
}

a {
    color: #25547B;
}

header h1 {
    font-family: 'Play', sans-serif;
    font-size: 50px;
    margin: 0;
    display: block;
    color: #0B5FA5;
    text-shadow: 2px 2px 2px #25547B;
}

header h1 span {
    font-size: 50px;
    margin: 0;
    display: inline;
    color: #66A1D2;
    text-shadow: 2px 2px 2px #25547B;
}

p {
    font-size: 14px;
}

p.error {
    color: red;
}

p #arrow {
    font-size: 20px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

p#critical {
    color: red;
}

p#critical a {
    color: red;
    letter-spacing: 6px;
    text-decoration: underline;
}

p#critical a#yes {
    color: green;
}

#main {
    margin: 0 auto;
    width: 1024px;
}

#main #where {
    font-family: Arialm sans-serif;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 2px;
    background: white;
    width: 95%;
    padding: 7px;
    margin-bottom: 10px;
    -moz-box-shadow: 0 2px 2px #999;
    -webkit-box-shadow: 0 2px 2px #999;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 2px 2px #999;
    border-radius: 6px;
}

#main.where h2 a {

    text-decoration: none;
    color: black;
    font-family: 'Belgrano';
}

header #descr h2 {
    font-size: 11px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-style: italic;
    letter-spacing: 3px;
}

nav ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
}

nav ul li {
    color: black;
}

nav ul ul {
    position: relative;
    left: 20px;
    color: black;
}

nav ul ul li a {
    text-decoration: none;
}

nav ul ul li span {
    color: #C0C0C0;
}

nav ul ul li a:hover {
    background: #E9ECF5;
}

aside {
    display: block;
}

nav {
    float: left;
    padding: 5px;
    background: white;
    margin: 0 0 20px 0;
    width: 20%;
    -moz-box-shadow: 0 2px 2px #999;
    -webkit-box-shadow: 0 2px 2px #999;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 2px 2px #999;
    border-radius: 6px;
}

article {
    float: left;
    padding: 20px;
    margin: 0 0 20px 10px;
    background: white;
    width: 70%;
    -moz-box-shadow: 0 2px 2px #999;
    -webkit-box-shadow: 0 2px 2px #999;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 2px 2px #999;
    border-radius: 6px;
}

article p {
    text-align: justified;
}

article h1 {
    font-style: normal;
    font-size: 30px;
    letter-spacing: 2px;
    color: #043C6B;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Belgrano', Arial, sans-serif;
}

article h2 {
    font-style: normal;
    font-size: 20px;
    letter-spacing: 2px;
    color: #043C6B;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

table {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: rgb(4, 60, 107);
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

table th {
    border-width: 1px;
    padding: 5px;
    border-style: inset;
    border-color: rgb(4, 60, 107);
    background-color: #EEF3FF;
    font-size: 12px;
    font-family: 'Belgrano', Arial, sans-serif;
}

table td {
    border-width: 1px;
    padding: 5px;
    border-style: inset;
    border-color: rgb(4, 60, 107);
    background-color: white;
    font-family: 'Play', sans-serif;
}

table td a {
    color: black;
    text-decoration: none;
}

table td.no {
    text-align: center;
}

table td.no a {
    text-align: center;
    text-decoration: underline;
}

table td.col {

    border-width: 1px;
    padding: 5px;
    border-style: inset;
    border-color: rgb(4, 60, 107);
    background-color: #EEF3FF;
    font-size: 12px;
    font-family: 'Belgrano', Arial, sans-serif;
    width: 20%;
}

table th#search {
    text-align: right;
}

table th#search p {
    font-size: 10px;
}

td.delete_button {
    width: 10%;
}

#stopka {
    display: block;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;

}

.menu-list {

    width: 400px;
}

.menu-list ul {
    list-style: none;
}

.menu-list li:hover {
    list-style: none;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: #66A1D2;
    border: #043C6B solid 1px;
    color: #ffffff;
}

.menu-list li {
    list-style: none;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: #EEF3FF;
    border: #043C6B solid 1px;
    color: #043C6B;
}

.menu-list li a {
    text-decoration: none;
}

.removalLink {
    margin-left: 10px;
    letter-spacing: 2px;
    text-decoration: underline;
    color: grey;
    font-weight: bold;
}

.removalLink:before {
    content: '[';
}

.removalLink:after {
    content: ']';
}

/* MENU */


/**
 * Nestable
 */
.dd { display: block;  width: 100%; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { overflow-y: hidden; display: block; position: relative; margin: 0; padding: 0; width: 70%; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }


.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }


.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin-top: 5px; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 4px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }
